# Project 8: Personal Data & Visualization

## Your name: Ruth Iiyambo 

### Your collaborators: Class TA

### Your sources: https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html, https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.diff.html, https://pandas.pydata.org/docs/reference/api/pandas.Timestamp.html#pandas.Timestamp, https://pandas.pydata.org/docs/reference/api/pandas.DatetimeIndex.html,      

Due date: Sunday November 19 at 11:59 pm

In [1]:
# Import the packages we need

# Handling dates and times
from datetime import datetime
from matplotlib import pyplot as plt

# DataFrames!
import pandas as pd
import numpy as npe
import seaborn as sns

In [2]:
Aud_data = pd.read_csv('audrey_timestamps.csv')
Aud_data

       Unnamed: 0           endTime
0               0  2022-10-18 01:12
1               1  2022-10-18 01:15
2               2  2022-10-18 01:19
3               3  2022-10-18 01:23
4               4  2022-10-18 16:58
...           ...               ...
19954        9954  2023-10-18 19:42
19955        9955  2023-10-18 19:42
19956        9956  2023-10-18 19:45
19957        9957  2023-10-18 19:48
19958        9958  2023-10-18 19:52

[19959 rows x 2 columns]

### 1. The timestamp is in the datetime format

In [3]:
Aud_data['time'] = pd.to_datetime(Aud_data['endTime'])
Aud_data['time']

0       2022-10-18 01:12:00
1       2022-10-18 01:15:00
2       2022-10-18 01:19:00
3       2022-10-18 01:23:00
4       2022-10-18 16:58:00
                ...
19954   2023-10-18 19:42:00
19955   2023-10-18 19:42:00
19956   2023-10-18 19:45:00
19957   2023-10-18 19:48:00
19958   2023-10-18 19:52:00
Name: time, Length: 19959, dtype: datetime64[ns]

### 2. Using pandas.diff() , make a new column that tells you the time since between a timestamp and the previous one 

(for example, row 2 will have the time between the timestamp in row 2 and row 1).(TIP: Make sure your timestamps are sorted in chronological order before you do this!)

In [4]:
Aud_data['end_diff'] = Aud_data['time'] .diff()
Aud_data['end_diff']

0                   NaT
1       0 days 00:03:00
2       0 days 00:04:00
3       0 days 00:04:00
4       0 days 15:35:00
              ...
19954   0 days 00:02:00
19955   0 days 00:00:00
19956   0 days 00:03:00
19957   0 days 00:03:00
19958   0 days 00:04:00
Name: end_diff, Length: 19959, dtype: timedelta64[ns]

### 3. Answer: What is the longest time between timestamps? What is the average time between timestamps?

In [5]:
Aud_data['end_diff'].max() #longest time between timestamps

Timedelta('11 days 04:15:00')

In [6]:
Aud_data['end_diff'].mean() #average time between timestamps

Timedelta('0 days 00:26:23.485319170')

For Audrey, the longest time between timestamps is 11 days and the average between two timestamps is 26 minutes 23 seconds

### 4. Answer: What is the day with the most timestamps? How many events (timestamps) were on that day? 

(TIP: Once you have done .to_datetime, you now have a Timestamp object, which has all kinds of cool properties and methods -- such as returning the day or the month. Find out more hereLinks to an external site.. You might also want to use DatetimeIndexLinks to an external site.. For example, you can create a new column that is the day by doing: df['days'] = pd.DatetimeIndex(df['timestamps']).day )

In [7]:
Aud_data["date"]=pd.DatetimeIndex(Aud_data["endTime"]).date
Aud_data["date"].value_counts()

2023-04-19    406
2023-02-18    343
2023-09-02    323
2023-05-12    264
2023-01-22    226
             ...
2022-11-24      1
2023-08-10      1
2023-10-03      1
2022-11-18      1
2023-08-21      1
Name: date, Length: 300, dtype: int64

In [8]:
time=Aud_data['time'].dt.time
time

0        01:12:00
1        01:15:00
2        01:19:00
3        01:23:00
4        16:58:00
           ...
19954    19:42:00
19955    19:42:00
19956    19:45:00
19957    19:48:00
19958    19:52:00
Name: time, Length: 19959, dtype: object

### 5. Answer: What is the month with the most timestamps? How many events (timestamps) were on that month?

In [9]:
#checking the frequency of the time spent on the app through the dates
Aud_data['date']=Aud_data['time'].dt.date
Aud_data['month_year'] = pd.to_datetime(Aud_data['date']).dt.strftime('%m-%Y')
Aud_data['frequency'] = Aud_data['month_year'].map(Aud_data['month_year'].value_counts())
Aud_data

,Unnamed: 0,endTime,time,end_diff,date,month_year,frequency
0,0,2022-10-18 01:12,2022-10-18 01:12:00,NaT,2022-10-18,10-2022,588
1,1,2022-10-18 01:15,2022-10-18 01:15:00,0 days 00:03:00,2022-10-18,10-2022,588
2,2,2022-10-18 01:19,2022-10-18 01:19:00,0 days 00:04:00,2022-10-18,10-2022,588
3,3,2022-10-18 01:23,2022-10-18 01:23:00,0 days 00:04:00,2022-10-18,10-2022,588
4,4,2022-10-18 16:58,2022-10-18 16:58:00,0 days 15:35:00,2022-10-18,10-2022,588
...,...,...,...,...,...,...,...
19954,9954,2023-10-18 19:42,2023-10-18 19:42:00,0 days 00:02:00,2023-10-18,10-2023,1567
19955,9955,2023-10-18 19:42,2023-10-18 19:42:00,0 days 00:00:00,2023-10-18,10-2023,1567
19956,9956,2023-10-18 19:45,2023-10-18 19:45:00,0 days 00:03:00,2023-10-18,10-2023,1567
19957,9957,2023-10-18 19:48,2023-10-18 19:48:00,0 days 00:03:00,2023-10-18,10-2023,1567
19958,9958,2023-10-18 19:52,2023-10-18 19:52:00,0 days 00:04:00,2023-10-18,10-2023,1567

For Audrey, the month with the most timestamps is ---- and the average between two timestamps is ------

### 6. Analyze: Create at least one visualization of this data, using matplotlib/pyplot or Seaborn (refer back to our earlier class activities on visualizing time series data). 

What can they tell you about the data?

In [ ]:
p = sns.color_palette("cubehelix", as_cmap=True)
sns.scatterplot(x="month_year", y="time",
                hue="time", size="frequency",
                palette="cubehelix",
                sizes=(10, 80), linewidth=0,
                data=Aud_data)
py.title("Audrey's Spotify TimeStamp Data")
py.legend(bbox_to_anchor=(1.25, 1), borderaxespad=0)

### 7. Answer: What do you think the source of this data is? 

Write a few sentences explaining your reasoning, as well as what other data might help you verify if you are correct?

### 8. Exchange your analysis with your partner. Read your partner's analysis -- does it seem accurate? 

Did they guess the correct data source (or type of data source)?

### 9. For the days and months that your partner identified as having the most timestamps in your data, try to figure out what was happening on those days. 

What other data might help you figure this out?